/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: black;
    width: 100%;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
/* titolo */
.pagename{
    line-height: 80px;
    vertical-align: middle;
    margin-left: 30px;
    color: red;
}
/* ricerca */
.research {
    line-height: 80px;
    vertical-align: middle;
    margin-right: 30px;
}
/* menù */
.list-menu {
    display: flex;
    list-style-type: none;
    line-height: 80px;
    vertical-align: middle;
}
.list-menu li {
    padding-right: 30px;
}


/* MAIN */
/* categorie */

h2 {
    margin: 20px 0;
    color: white;
}
/* cards */
.list-Film,
.list-Serie{
    margin-left: 30px;
    margin-bottom: 30px;
}
.results-Film,
.results-Serie{
    display: flex;
    overflow-x: hidden;
}
.card {
    width: 342px;
    position:relative;
}
.film-image{
    width: 342px;
    height:512px;
    overflow-y: hidden;
}
img.poster {
    width: 100%;
    height:100%;
}
/* hover */
.info {
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 5, 5, 0.8);
    display: none;
    color: white;
}
.card:hover .info{
    display: block;
}
#lingua img{
    margin-bottom: -5px;
}
#voto i.fa-star.empty{
    color: lightgrey;
}
#voto i.full{
    color: blue;
}
#trama {
    position: absolute;
    bottom: 10px;
}

/* Buttons */
.scrollbuttons{
    position: relative;
    height: 50px;
    margin-bottom: 30px;
}
.scrollbuttons button{
    height: 30px;
    width: 50px;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    margin-top: 20px;
}
.leftscroll{
    left: 30px;
}
.rightscroll{
    right:30px;
}


/* FOOTER */
footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p {

    color: grey;
}
